## Ignore development settings
**/appsettings.Development.json

## Visual Studio files
.vs/
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Rider
.idea/

## Visual Studio Code
.vscode/

## NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets 