# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# Application settings
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Production.json

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/